@media only screen and (max-width:750px) {
    .nav_bar{
        flex-direction: column;
        height: 232px;
        transform: translateY(0px);
        transition: 0.4s ease-in-out;
        
    }
    .nav_bar ul{
        flex-direction: column;
        /* transition: 0.4s; */
        
    }
    .search{
        /* transition: 0.4s; */
        width: 70%;
        margin: 8px 0;
        text-align: center;
    }
    .nav_bar ul li{
        margin: 3px 0;
        /* transition: 0.4s; */
    }
    /* .line{
        visibility: visible;
    } */
    .burger{
        display:block;
    }
    .slide-nav-resp{
        height: 295px;
        transform: translateY(-293px);
        padding-bottom: 63px;
        transition: 0.4s ease-in-out;
        
        
    }
    /* .visiblility-nav-resp{
        visibility: hidden;
        transform: translateY(-270px);
        transform: translateY(-100px);

    } */
    body{
        overflow-x: hidden;
    }
}